/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: 0.05rem solid #fff;
}

/*
 * Base structure
 */

html,
body {
  height: 100%;
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  --nav-load-time: 600ms;
  color: #fff;
}
.body-main {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url(../img/pexels-pixabay-163726.jpg);
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0.5);
  --main-load-time: 600ms;
}
.cover-container {
  max-width: 42em;
}
/*
 * Main Header
 */
.masthead {
  margin-bottom: 2rem;
  animation: nav-load var(--nav-load-time) ease-in;
}
.masthead-brand {
  margin-bottom: 0;
}
.nav-masthead .nav-link {
  text-decoration: none;
  padding: 0.25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.7);
  background-color: transparent;
  border-bottom: 0.25rem solid transparent;
}
.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, 0.7);
}
.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}
.nav-masthead .nav-link .active {
  color: #fff;
  border-bottom-color: #fff;
}
/*
* Services header
*/
.nav-masthead .nav-services-link + .nav-services-link {
  margin-left: 1rem;
}
.nav-masthead .nav-services-link:hover,
.nav-masthead .nav-services-link:focus {
  border-bottom-color: rgba(0, 0, 0, 0.8);
}
.nav-masthead .nav-services-link {
  text-decoration: none;
  padding: 0.25rem 0;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.8);
  border-bottom: 0.25rem solid transparent;
}
.brand-services-color {
  color: rgba(0, 0, 0, 0.8);
}
/*
* Media
*/
@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}
/*
 * Cover
 */
.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: 0.75rem 1.25rem;
  font-weight: 700;
}
/*
* Inner
*/
.main-inner {
  padding: 2rem;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
  border-radius: 1rem;
  animation: main-load var(--main-load-time) ease-in;
}
/*
* Services Inner
*/
.main-services-inner {
  padding: 2rem;
  border-radius: 1rem;
}
.road-transport-title {
  background-color: rgb(50, 50, 136);
  padding: 0.5rem;
}
.road-transport-description {
  color: rgba(0, 0, 0, 0.8);
}
.services-title {
  color: rgb(50, 50, 136);
}
.services-description {
  font-weight: bold;
  font-size: 1em;
  color: rgba(0, 0, 0, 0.8);
}
.services-map {
  border: 0.3rem solid rgba(0, 0, 0, 0.8);
  border-radius: 1.3rem;
  max-width: 100%;
  max-height: 100%;
}
.services-truck {
  max-width: 100%;
  max-height: 15rem;
}
/*
 * Footer
 */
.mastfoot {
  color: rgba(255, 255, 255, 0.5);
}
/*
*Animation
*/
@keyframes nav-load {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes main-load {
  0% {
    transform: scale(0);
  }
  90% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
